[submodule "src/8cc"]
	path = src/8cc
	url = https://github.com/sleirsgoevy/ps4-rop-8cc
[submodule "src/payloads/linux/ps4-kexec"]
	path = src/payloads/linux/ps4-kexec
	url = https://github.com/sleirsgoevy/ps4-kexec
[submodule "webkit-7.02"]
	path = webkit-7.02
	url = https://github.com/sleirsgoevy/bad_hoist/
[submodule "src/8cc-702"]
	path = src/8cc-702
	url = https://github.com/sleirsgoevy/ps4-rop-8cc
